@import "reboot.css";

/************************ menu *****************************/
.wrapper section:nth-child(1) {
    background-color: rgba(50, 50, 150, 0.2);
    border-bottom: 2px solid black;
    width: 100%;
    height: 50px;
}

.wrapper section:nth-child(1) nav:nth-child(1) {
    width: inherit;
    height: inherit;
}

.wrapper section:nth-child(1) nav:nth-child(1) ul:nth-child(1) {
    width: inherit;
    height: inherit;
}

.wrapper > section:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li {
    display: inline-block;
    width: 150px;
    height: inherit;
    text-align: center;
    vertical-align: top;
}

.wrapper section:nth-child(1) nav:nth-child(1) ul:nth-child(1) li a {
    display: block;
    width: 100%;
    height: inherit;
    text-decoration: none;
    list-style: none;
    color: #551A8B;
    padding-top: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.wrapper section:nth-child(1) nav:nth-child(1) ul:nth-child(1) li a:hover {
    background-color: #2d2eff;
    color: whitesmoke;
}

.wrapper > section:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(5) {
    width: 40%;
    height: inherit;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: left;
}

.wrapper section:nth-child(1) nav:nth-child(1) ul:nth-child(1) li:nth-child(5) form:nth-child(1) input:nth-child(2) {
    width: 220px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    direction: rtl;
    outline-color: #2d2eff;
    transition: all 0.1s ease;
}

.wrapper section nav ul li form i {
    position: absolute;
}

.wrapper section nav ul li form i.icon {
    padding: 7px;
    color: #551A8B;
    transition: all 0.3s ease-in;
}

.wrapper > section > nav > ul > li:nth-child(6) {
    width: 90px !important;
    direction: ltr;
    margin-right: 40px;
}

.wrapper section nav ul li:nth-child(6) i.icon {
    display: block;
    font-size: 25px;
    padding-top: 11px;
    box-sizing: border-box;
    width: 90px;
    height: 50px;
    color: #551A8B;
    transition: all 0.3s ease;
}

i.caret-down {
    font-size: 20px !important;
    margin-right: 5px !important;
}

.wrapper section nav ul li:nth-child(6) button {
    background-color: transparent;
    border: none;
    outline: none;
}

.wrapper section nav ul li ul.user-drop-down-menu {
    display: none;
    width: 250px;
    background-color: rgba(214, 214, 235, 0.97);
    position: relative;
    padding-top: 5px;
    transition: all 0.3s ease;
}

.wrapper section nav ul li ul li {
    display: block;
    width: 100%;
    height: 50px;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
}

.wrapper section nav ul li:nth-child(6):hover i.icon {
    background-color: #2d2eff;
    color: whitesmoke;
}

.wrapper section nav ul li:nth-child(6):hover .user-drop-down-menu {
    display: block;
}

/************************ end menu *****************************/
/************************ books *****************************/
.wrapper section:nth-child(2) {
    width: 100%;
    min-height: 800px;
    background: url("../images/BackgroundCover.jpg") center center no-repeat fixed;
    background-size: cover;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
}

/************************ newest *****************************/

.wrapper section:nth-child(2) section:nth-child(1) {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 0;
    border: none;
}

.wrapper section:nth-child(2) section:nth-child(2) div {
    display: inline-block;
    width: 28%;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px 20px 10px 20px;
    border: 2px solid #2d2eff;
    border-radius: 10px;
    text-align: center;
}

.wrapper section:nth-child(2) section:nth-child(2) div img {
    width: 170px;
    height: 220px;
    margin: 10px auto;
}

.wrapper section:nth-child(2) section:nth-child(2) div span:nth-child(3) {
    display: block;
    background-color: white;
    width: auto;
    height: 30px;
    margin: 0 auto;
}

.wrapper section:nth-child(2) section:nth-child(2) div a {
    display: inline-block;
    width: 130px;
    height: 35px;
    text-decoration: none;
    background-color: #2d2eff;
    color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    transition: width 0.3s ease-out;
}

.wrapper section:nth-child(2) section:nth-child(2) div a:hover {
    width: 170px;
    border: 2px solid black;
    padding-top: 3px;
}

.wrapper section:nth-child(2) section:nth-child(2) div a:active {
    background-color: rgb(0, 0, 180);
}

.wrapper section:nth-child(2) section:nth-child(2) div span:nth-child(6) {
    display: inline-block;
    margin: 6px 10px;
}

.wrapper section:nth-child(2) section:nth-child(2) div span:nth-child(7) {
    background-color: rgba(41, 170, 40, 0.98);
    padding: 0px 5px;
}

/************************ end newest *****************************/
/************************ end books *****************************/
